.slick-prev::before,
.slick-next::before {
  color: black;
}

.topic-heading {
  text-transform: capitalize;
  margin-bottom: 32px;
}

.topic-container {
  margin-bottom: 62px;
}

.cover-container {
  height: 158px;
  display: flex;
  justify-content: center;
}
.cover-container > img {
  background-image: url("/src/Components/unnamed.jpg");
  background-size: contain;
  height: 100%;
  width: auto;
}
.cover-container > img:hover {
  cursor: pointer;
}

.book-list-item_container > p {
  max-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  margin-top: 12px;
}

/* BELOW 1024 */
/* No nível mais abrangente do código */
@media screen and (max-width: 1023px) {
  button.slick-arrow {
    display: none !important;
  }
}
