h4{
  text-transform: capitalize;
}
.list-container{
  margin-top: 40px;
}
.scroll-container {
  overflow-x: scroll;
}

.book-list {
  display: flex;
  padding: 16px;
}

.book-list-item {
  display: inline-block;
}

.book-list-item_container {
  margin-right: 16px;
  width: 158px;
  height: 200px;
  transition: all 250ms;
  text-align: center;
  overflow: hidden;
  border-radius: 4px;
}

.book-list-item_cover {
  object-fit: contain;
  height: 100%;
}

.book-list-item_container:hover {
  transform: scale(1.08);
  cursor: pointer;
}

.book-list-item_container.is-selected {
  transform: scale(1.08);
  box-shadow: 0 .5rem 1rem rgba(89, 0, 255, 0.34) !important;
}
